@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
:root{
    --branco: #ffffff;
    --claro: #B7B7A4; 
    --medio: #A5A58D;
    --escuro: #696D5B;
    --cinza: #E6E6E6;
}

header{
    background-color:#696D5B ;
    height:200px;
}

header h1{
    color:#A5A58D;
    font-size: 7em;
    padding-top: 100px;
    margin-left: 40px;
}

header h2{
    color:#B7B7A4 ;
    font-size: 3em;
    margin-left: 40px;
}
.elegancia{
    background-color: var(--claro);
    height: 800px;
}
.elegancia-container{
    position: relative;
}
.elegancia-elegancia h1{
    border: 3px solid var(--escuro);
    position: absolute;
    top: 80px;
    
    font-size: 9em;
    font-weight: bold;
    color: var(--escuro);
}
.elegancia h2{
    font-size: 5em;
    color: var(--cinza);
    position: absolute;
    top: 360px;
    left: 300px;
}
.elegancia p{
    font-size: 1.5em;
    color: var(--cinza);
    position: absolute;
    width: 600px;
    top: 450px;
    left: 550px;
}
footer{
    background-color:var(--escuro) ;
    height: 200px;
}
.container-footer{
    position: relative;
}
.container-footer img{
    width: 20px;
}
.footer-luigi h1{
    font-size: 1.2em;
    color: var(--cinza);
    font-weight: normal;
    position: absolute;
    top: 40px;
    left: 655px;
}
.footer-paginas a{
    text-decoration: none;
    color: var(--claro);
}
.footer-inicio{
    position: absolute;
    top: 90px;
    left: 505px;
}
.footer-sapatos{
    position: absolute;
    top: 90px;
    left: 569px;
}
.footer-elegancia{
    position: absolute;
    top: 90px;
    left: 683px;
}
.footer-sobre-nos{
    position: absolute;
    top: 90px;
    left: 784px;
}
.footer-contato{
    position: absolute;
    top: 90px;
    left: 890px;
}
.footer-insta{
    position: absolute;
    top: 140px;
    left: 650px;
}
.footer-face{
    position: absolute;
    top: 140px;
    left: 690px;
}
.footer-whats{
    position: absolute;
    top: 140px;
    left: 730px;
}
.footer-map{
    position: absolute;
    top: 140px;
    left: 770px;
}

