@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
:root{
    --branco: #ffffff;
    --claro: #B7B7A4; 
    --medio: #A5A58D;
    --escuro: #696D5B;
    --cinza: #E6E6E6;
}
header nav{
    background-color: var(--claro);
    padding: 15px 15px 10px 40px;
}
header .menu{
    display: flex;
    gap: 40px;
    justify-content: center;
}
header a{
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3em;
}
nav a:hover{
    text-decoration: none;
    color: var(--cinza);
}
.classicos{
    background-color: var(--claro);
    height: 820px;
}
.container-classicos{
    position: relative;
}
.classicos-oxford{
    position: absolute;
    top: 350px;
    left: 220px;
}
.classicos-derby{
    position: absolute;
    top: 350px;
    left: 545px;
}
.classicos-blucher{
    position: absolute;
    top: 350px;
    left: 950px;
}
.classicos-oxford img{
    width: 300px;    
}
.classicos-derby img{
    width: 380px;
}
.classicos-blucher img{
    width: 300px;
}
.classicos-oxford h2{
    color: var(--cinza);
    text-align: center;
}
.classicos-derby h2{
    color: var(--cinza);
    text-align: center;
}
.classicos-blucher h2{
    color: var(--cinza);
    text-align: center;
}
.classicos-oxford p{
    color: var(--escuro);
    text-align: center;
    width: 280px;
    position: absolute;
    left: 10px;
}
.classicos-derby p{
    color: var(--escuro);
    text-align: center;
    width: 300px;
    position: absolute;
    left: 35px;
}
.classicos-blucher p{
    color: var(--escuro);
    text-align: center;
    width: 280px;
    position: absolute;
    left: 10px;
}
.classicos h1{
    font-size: 7em;
    text-align: center;
    color: var(--escuro);
    padding-top: 70px;
}
.classicos-mais{
    position: absolute;
    top: 430px;
    left: 1300px;
}
.slip-on{
    background-color: var(--escuro);
    height: 820px;
}
.container-slip-on{
    position: relative;
}
.slip-on h1{
    color: var(--cinza);
    font-size: 4em;
    position: absolute;
    top: 30px;
    left: 700px;
}
.slip-on h2{
    color: var(--claro);
    font-size: 1.8em;
    position: absolute;
    top: 106px;
    left: 700px;
}
.slip-on-mais{
    position: absolute;
    top: 55px;
    left: 910px;
}
.slip-on-loafer{
    position: absolute;
    top: 200px;
    left: 100px;
}
.slip-on-mocassim{
    position: absolute;
    top: 400px;
    left: 800px;
}
.slip-on-loafer img{
    width: 500px;
}
.slip-on-mocassim img{
    width: 500px;
}
.slip-on-loafer h3{
    color: var(--cinza);
    text-align: center;
}
.slip-on-mocassim h3{
    color: var(--cinza);
    text-align: center;
    position: absolute;
    top: -140px;
    left: 190px;
}
.slip-on-loafer p{
    color: var(--claro);
    width: 400px;
    text-align: center;
    position: absolute;
    left: 50px;
}
.slip-on-mocassim p{
    color: var(--claro);
    width: 400px;
    text-align: center;
    position: absolute;
    top: -100px;
    left: 50px;
}
.botas{
    background-color: var(--claro);
    height: 820px;
}
.container-bota{
    position: relative;
}
.bota-titulo{
    display: flex;
    position: absolute;
    justify-content: center;
    top: 30px;
    left: 150px;
}
.bota-titulo img{
    padding-left: 7px;
    padding-top: 31px;
}
.botas h1{
    font-size: 4.5em;
    color: var(--escuro);
}
.bota-2-fotos img{
    width: 300px;
}
.bota-superior{
    position: absolute;
    top:150px ;
    left: 80px;
}
.bota-fundo{
    position: absolute;
    top: 500px;
    left: 120px;
}
.bota-linha{
    width: 2px;
    height: 700px;
    background-color: var(--escuro);
    margin-left: 150px;
    position: absolute;
    top: 50px;
    left: 350px;
}
.bota-foto img{
    width: 500px;
    position: absolute;
    top: 350px;
    left: 850px;
}
.bota-texto-1{
    width: 300px;
    text-align: center;
    position: absolute;
    top: 170px;
    left: 700px;
    color: var(--escuro);
}
.bota-texto-2{
    width: 300px;
    text-align: center;
    position: absolute;
    top: 400px;
    left: 600px;
    color: var(--escuro);
}
.fivela{
    background-color: var(--escuro);
    height: 820px;
}
div.container-fivela{
    position: relative;
}
.titulo-fivela{
    position: absolute;
    top: 100px;
    left: 1100px;
}
.titulo-fivela h1{
    font-size: 4.5em;
    color: var(--claro);
    text-align: center;
}
.titulo-fivela h2{
    font-size: 2em;
    color: var(--claro);
    text-align: center;
}
.titulo-fivela img{
    padding-left: 120px;
}
div.sapato-1-fivela{
    position: absolute;
    left: 100px;
    top: 300px;
}
div.sapato-2-fivela{
    position: absolute;
    left: 650px;
    top: 100px;
}
div.sapato-1-fivela h3{
    font-size: 1.3em;
    color: var(--cinza);
    text-align: center;
}
div.sapato-2-fivela h3{
    font-size: 1.3em;
    color: var(--cinza);
    text-align: center;
}
div.sapato-1-fivela p{
    width: 350px;
    text-align: center;
    color: var(--claro);
    margin-left: 25px;
}
div.sapato-2-fivela p{
    width: 350px;
    text-align: center;
    color: var(--claro);
    margin-left: 25px;
}
div.sapato-1-fivela img{
    width: 400px;
}
div.sapato-2-fivela img{
    width: 400px;
}
div.linha-fivela{
    width: 2px;
    height: 600px;
    background-color: var(--claro);
    position: absolute;
    top: 150px;
    left: 575px;
}
.festa{
    background-color: var(--claro);
    height: 820px;
}
.container-festa{
    position: relative;
}
.titulo-festa h1{
    color: var(--cinza);
    font-size: 4em;
    position: absolute;
    top: 20px;
    left: 150px;
}
.festa-mais{
    position: absolute;
    top: 44px;
    left: 625px;
}
.festa-opera{
    width: 600px;
    position: absolute;
    top: 130px;
    left: 200px;
}
.festa-patent{
    width: 600px;
    position: absolute;
    top: 380px;
    left: 200px;
}
.festa-slippers{
    width: 600px;
    position: absolute;
    top: 630px;
    left: 200px;
}
.festa-opera h2{
    color: var(--cinza);
}
.festa-patent h2{
    color: var(--cinza);
}
.festa-slippers h2{
    color: var(--cinza);
}
.festa-opera h3{
    color: var(--escuro);
}
.festa-patent h3{
    color: var(--escuro);
}
.festa-slippers h3{
    color: var(--escuro);
}
.festa-opera p{
    color: var(--escuro);
}
.festa-patent p{
    color: var(--escuro);
}
.festa-slippers p{
    color: var(--escuro);
}
.festa-numero-1{
    position: absolute;
    top: 40px ;
    left: -50px;
}
.festa-numero-2{
    position: absolute;
    top: 40px;
    left: -50px;
}
.festa-numero-3{
    position: absolute;
    top: 40px;
    left: -50px;
}
.festa-foto-opera{
    background-color: var(--escuro);
    width: 500px;
    height: 200px;
    position: absolute;
    top:60px ;
    left: 940px;
}
.festa-foto-patent{
    background-color: var(--escuro);
    width: 500px;
    height: 200px;
    position: absolute;
    top: 310px ;
    left: 940px;
}
.festa-foto-slippers{
    background-color: var(--escuro);
    width: 500px;
    height: 200px;
    position: absolute;
    top:560px ;
    left: 940px;
}
.festa-foto-opera img{
    width: 290px;
    margin-left:100px ;
    padding-top: 5px;
}
.festa-foto-patent img{
    width: 260px;
    margin-left:110px ;
    padding-top: 5px;
}
.festa-foto-slippers img{
    width: 320px;
    margin-left:100px ;
    padding-top: 13px;
}
.casual{
    background-color: var(--escuro);
    height: 820px;
}
.casual h1{
    position: absolute;
    top: 120px;
    left: 634px;
    font-size: 3em;
    color: var(--claro);
}
.casual h2{
    position: absolute;
    top: 50px;
    left: 439px;
    font-size: 4em;
    color: var(--cinza);
}
.casual-mais img{
    position: absolute;
    top: 75px;
    left: 1020px;
}
.container-casual{
    position: relative;
}
.casual-sneaker img{
    position: absolute;
    top: 200px;
    left: 50px;
    width: 300px;
}
.casual-sneaker img:hover{
    transform: scale(1.35);
}
.casual-sneaker h3{
    position: absolute;
    top: 480px;
    left: 60px;
    width: 280px;
    font-size: 1.5em;
    color: var(--cinza);
}
.casual-sneaker p{
    position: absolute;
    top: 530px;
    left: 50px;
    width: 250px;
    text-align: center;
    color: var(--claro);
}
.casual-boat img{
    position: absolute;
    top: 200px;
    left: 380px;
    width: 300px;
}
.casual-boat img:hover{
    transform: scale(1.35);
}
.casual-boat h3{
    position: absolute;
    top: 480px;
    left: 420px;
    width: 280px;
    font-size: 1.5em;
    color: var(--cinza);
}
.casual-boat p{
    position: absolute;
    top: 530px;
    left: 408px;
    width: 250px;
    text-align: center;
    color: var(--claro);
}
.casual-espadrilles img{
    position: absolute;
    top: 200px;
    left: 730px;
    width: 300px;
}
.casual-espadrilles img:hover{
    transform: scale(1.35);
}
.casual-espadrilles h3{
    position: absolute;
    top: 480px;
    left: 830px;
    width: 280px;
    font-size: 1.5em;
    color: var(--cinza);
}
.casual-espadrilles p{
    position: absolute;
    top: 530px;
    left: 765px;
    width: 250px;
    text-align: center;
    color: var(--claro);
}
.casual-driving img{
    position: absolute;
    top: 200px;
    left: 1080px;
    width: 300px;
}
.casual-driving img:hover{
    transform: scale(1.35);
}
.casual-driving h3{
    position: absolute;
    top: 480px;
    left: 1180px;
    width: 280px;
    font-size: 1.5em;
    color: var(--cinza);
}
.casual-driving p{
    position: absolute;
    top: 530px;
    left: 1125px;
    width: 250px;
    text-align: center;
    color: var(--claro);
}
.tipico{
    background-color: var(--claro);
    height: 820px;
}
.container-tipicos{
    position: relative;
}
.tipico-sapato{
    color: var(--escuro);
    font-size: 4em;
    position: absolute;
    top: 45px;
    left: 190px;
}
.tipico-tipico{
    color: var(--cinza);
    font-size: 4em;
    position: absolute;
    top: 45px;
    left: 420px;
}
.tipico-mais{
    position: absolute;
    top: 70px;
    left: 630px;
}
.tipico img.tipico-fotos{
    width: 300px;
}
.tipico-broguet h2{
    text-align: center;
    color: var(--escuro);
    position: absolute;
    top: 200px;
    left: 500px;
}
.tipico-spectator h2{
    text-align: center;
    color: var(--escuro);
    position: absolute;
    top: 530px;
    left: 150px;
}
.tipico-saddle h2{
    text-align: center;
    color: var(--escuro);
    position: absolute;
    top: 200px;
    left: 1200px;
}
.tipico-spats h2{
    text-align: center;
    color: var(--escuro);
    position: absolute;
    top: 530px;
    left: 850px;
}
.tipico-broguet p{
    position: absolute;
    text-align: center;
    color: var(--escuro);
    width: 250px;
    top: 250px;
    left: 435px;
}
.tipico-spectator p{
    position: absolute;
    text-align: center;
    color: var(--escuro);
    width: 250px;
    top: 580px;
    left: 97px;
}
.tipico-saddle p{
    position: absolute;
    text-align: center;
    color: var(--escuro);
    width: 250px;
    top: 250px;
    left: 1130px;
}
.tipico-spats p{
    position: absolute;
    text-align: center;
    color: var(--escuro);
    width: 250px;
    top: 580px;
    left: 772px;
}
.tipico-broguet img{
    position: absolute;
    top: 230px;
    left: 100px;
}
.tipico-spectator img{
    position: absolute;
    top: 550px;
    left: 370px;
}
.tipico-saddle img{
    position: absolute;
    top: 250px;
    left: 800px;
}
.tipico-spats img{
    position: absolute;
    top: 480px;
    left: 1050px;
}
footer{
    background-color:var(--escuro) ;
    height: 200px;
}
.container-footer{
    position: relative;
}
.container-footer img{
    width: 20px;
}
.footer-luigi h1{
    font-size: 1.2em;
    color: var(--cinza);
    font-weight: normal;
    position: absolute;
    top: 40px;
    left: 655px;
}
.footer-paginas a{
    text-decoration: none;
    color: var(--claro);
}
.footer-inicio{
    position: absolute;
    top: 90px;
    left: 505px;
}
.footer-sapatos{
    position: absolute;
    top: 90px;
    left: 569px;
}
.footer-elegancia{
    position: absolute;
    top: 90px;
    left: 683px;
}
.footer-sobre-nos{
    position: absolute;
    top: 90px;
    left: 784px;
}
.footer-contato{
    position: absolute;
    top: 90px;
    left: 890px;
}
.footer-insta{
    position: absolute;
    top: 140px;
    left: 650px;
}
.footer-face{
    position: absolute;
    top: 140px;
    left: 690px;
}
.footer-whats{
    position: absolute;
    top: 140px;
    left: 730px;
}
.footer-map{
    position: absolute;
    top: 140px;
    left: 770px;
}

