@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
:root{
    --branco: #ffffff;
    --claro: #B7B7A4; 
    --medio: #A5A58D;
    --medio-transparente: #a5a58d7f;
    --escuro: #696D5B;
    --escuro-transparente: #696d5b86;
    --cinza: #E6E6E6;
}
header nav{
    background-color: var(--claro);
    padding: 15px 15px 10px 40px;
}
header .menu{
    display: flex;
    gap: 40px;
    justify-content: center;
}
header a{
    text-decoration: none;
    color: var(--cinza);
    font-size: 1.3em;
}
.sapatos-tipicos{
    height: 450px;
    background-color: var(--escuro);
    position: relative;
}
.sapatos-tipicos img{
    width: 400px;
    position: absolute;
    top: 80px;
    left: 500px;
    transform: rotate(-15deg);
}
.sapatos-tipicos-sapatos{
    position: absolute;
    top: 50px;
    left: 415px;
}
.sapatos-tipicos-historicos{
    position: absolute;
    top: 200px;
    left: 309px;
}
.sapatos-tipicos-sapatos h1{
    font-size: 9em;
    color: var(--cinza);
}
.sapatos-tipicos-historicos h1{
    font-size: 9em;
    color: var(--cinza);
}
.tipicos-brogued{
    height: 800px;
    background-color: var(--claro);
}
.container-brogued{
    position: relative;
}
.brogued-bloco{
    position: absolute;
    top: 100px;
    left: 30px;
    width: 800px;
    height: 600px;
    background-color: var(--escuro-transparente);
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}
.brogued-bloco img{
    position: absolute;
    top: 100px;
    left: 30px;
    width: 600px;
    transform: scaleX(-1);
}
.tipicos-brogued h1{
    position: absolute;
    top: 80px;
    left: 500px;
    color: var(--cinza);
    font-size: 9em;
}
.tipicos-brogued p{
    position: absolute;
    top: 300px;
    left: 850px;
    color: var(--escuro);
    font-size: 1.3em;
    text-align: center;
    width: 550px;
}
.tipicos-saddle{
    height: 800px;
    background-color: var(--escuro);
}
.container-saddle{
    position: relative;
}
.tipicos-saddle img{
    position: absolute;
    top: 400px;
    left: 750px;
    width: 650px;
}
.tipicos-saddle h1{
    position: absolute;
    top: 80px;
    left: 670px;
    color: var(--cinza);
    font-size: 9em;
}
.tipicos-saddle p{
    position: absolute;
    top: 300px;
    left: 100px;
    color: var(--claro);
    font-size: 1.3em;
    text-align: center;
    width: 600px;
}
.tipicos-spectator{
    height: 800px;
    background-color: var(--claro);
}
.container-spectator{
    position: relative;
}
.tipicos-spectator h1{
    position: absolute;
    top: 30px;
    left: 416.5px;
    color: var(--cinza);
    font-size: 9em;
}
.spectator-bloco{
    position: absolute;
    top: 125px;
    left: 220px;
    width: 1000px;
    height: 550px;
    background-color: var(--escuro-transparente);
}
.tipicos-spectator img{
    position: absolute;
    top: 400px;
    left: 200px;
    width: 550px;
    transform: scaleX(-1);
}
.tipicos-spectator p{
    position: absolute;
    top: 250px;
    left: 600px;
    color: var(--claro);
    font-size: 1.3em;
    text-align: center;
    width: 550px;
}
.tipicos-spats{
    height: 800px;
    background-color: var(--escuro);
}
.container-spats{
    position: relative;
}
.spats-sapato img{
    position: absolute;
    top: 300px;
    left: 880px;
    width: 500px;
}
.spats img{
    position: absolute;
    top: 150px;
    left: 850px;
    width: 250px;
}
.tipicos-spats h1{
    position: absolute;
    top: 80px;
    left: 100px;
    color: var(--cinza);
    font-size: 9em;
}
.tipicos-spats p{
    position: absolute;
    top: 350px;
    left: 100px;
    color: var(--claro);
    font-size: 1.3em;
    text-align: center;
    width: 600px;
}
footer{
    background-color:var(--escuro) ;
    height: 200px;
}
.container-footer{
    position: relative;
}
.container-footer img{
    width: 20px;
}
.footer-luigi h1{
    font-size: 1.2em;
    color: var(--cinza);
    font-weight: normal;
    position: absolute;
    top: 40px;
    left: 655px;
}
.footer-paginas a{
    text-decoration: none;
    color: var(--claro);
}
.footer-inicio{
    position: absolute;
    top: 90px;
    left: 505px;
}
.footer-sapatos{
    position: absolute;
    top: 90px;
    left: 569px;
}
.footer-elegancia{
    position: absolute;
    top: 90px;
    left: 683px;
}
.footer-sobre-nos{
    position: absolute;
    top: 90px;
    left: 784px;
}
.footer-contato{
    position: absolute;
    top: 90px;
    left: 890px;
}
.footer-insta{
    position: absolute;
    top: 140px;
    left: 650px;
}
.footer-face{
    position: absolute;
    top: 140px;
    left: 690px;
}
.footer-whats{
    position: absolute;
    top: 140px;
    left: 730px;
}
.footer-map{
    position: absolute;
    top: 140px;
    left: 770px;
}