@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
:root{
    --branco: #ffffff;
    --claro: #B7B7A4; 
    --medio: #A5A58D;
    --escuro: #696D5B;
    --cinza: #E6E6E6;
}
html{
    scroll-behavior: smooth;
}
header{
    background-color:var(--escuro) ;
    height: 820px;
}
.inicio-container{
    position: relative;
}
.img-bandeira img{
    position: absolute;
    top: 360px;
    left: 488px;
    width: 100px;
}
.img-sapato img{
    position: absolute;
    top: 250px;
    left: 650px;
    width: 700px;
}
.inicio h1{
    color:var(--claro);
    font-size: 14em;
    position: absolute;
    top: 100px;
    left: 100px;
}
.inicio h2{
    color:var(--claro);
    font-size: 5.8em;
    position: absolute;
    top: 340px;
    left: 100px;
}
.inicio h3{
    color:var(--claro) ;
    font-size: 3em;
    position: absolute;
    top: 500px;
    left: 100px;
}
nav{
    background-color: var(--claro);
    padding: 15px 15px 10px 40px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
}
a{
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3em;
}
.sapatos{
    background-color: var(--claro);
    height: 820px;
}
.container-sapatos{
    position: relative;
}
.sapatos h1{
    font-size: 12em;
    text-align: center;
    color: var(--branco);
    padding-top: 30px;
}
.sapatos h2{
    line-height: 1em;
    font-size: 3em;
    padding-left: 900px;
    color: var(--branco);
}
.sapatos a{
    text-align: left;
    text-decoration: none;
}
.sapatos-mais{
    position: absolute;
    top: 345px;
    left: 1040px;
}
.sapatos-sapato-social{
    position: absolute;
    top: 380px;
    left: 200px;
}
.elegancia{
    background-color:var(--escuro) ;
    height:820px;
}
.elegancia h1{
    color: var(--claro);
    font-size: 12em;
    text-align: center;
    padding-top: 90px;
}
.container-elegancia{
    position: relative;
}
.elegancia-maquina{
    position: absolute;
    top: 250px;
    left: 400px;
}
.elegancia-maquina img{
    width: 600px;
}
.elegancia h2{
    color: var(--claro);
    font-size: 2em;
    position: absolute;
    top: 410px;
    left: 100px;
}
.elegancia h3{
    color: var(--claro);
    font-size: 3em;
    text-decoration: none;
    text-align: left;
}
.elegancia-saiba-mais-texto a{
    text-decoration: none;
    text-align: left;
}
.elegancia-saiba-mais{
    position: absolute;
    top: 400px;
    left: 1100px;
}
.sobre-nos{
    background-color: var(--claro);
    height: 820px;
}
.container-sobre-nos{
    position: relative;
}
.sobre-nos h1{
    font-size: 9em;
    color: var(--escuro);
    position: absolute;
    top: 50px;
    left: 600px;
}
.sobre-nos p{
    font-size: 1.3em;
    width: 600px;
    color: var(--escuro);
    position: absolute;
    top: 300px;
    left: 700px;
}
.sobre-nos img{
    width: 650px;
    position: absolute;
    top: 250px;
    left: 0px;
    border: 3px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.516);
}
.fotos{
    background-color: var(--claro);
    height: 820px;
}
.container-fotos{
    position: relative;
}
.foto-logo img{
    position: absolute;
    top: 30px;
    left: 150px;
    width: 300px;
}
.foto-1 img{
    position: absolute;
    top: 300px;
    left: 50px;
    width: 400px;
    height: 400px;
    border: 2px solid var(--cinza);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.516);
}
.foto-2 img{
    position: absolute;
    top: 168px;
    left: 990px;
    width: 400px;
    border: 2px solid var(--cinza);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.516);
}
.foto-3 img{
    position: absolute;
    top: 300px;
    left: 520px;
    width: 400px;
    height: 400px;
    border: 2px solid var(--cinza);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.516);
}
footer{
    background-color:var(--escuro) ;
    height: 200px;
}
.container-footer{
    position: relative;
}
.container-footer img{
    width: 20px;
}
.footer-luigi h1{
    font-size: 1.2em;
    color: var(--cinza);
    font-weight: normal;
    position: absolute;
    top: 40px;
    left: 655px;
}
.footer-paginas a{
    text-decoration: none;
    color: var(--claro);
}
.footer-inicio{
    position: absolute;
    top: 90px;
    left: 505px;
}
.footer-sapatos{
    position: absolute;
    top: 90px;
    left: 569px;
}
.footer-elegancia{
    position: absolute;
    top: 90px;
    left: 683px;
}
.footer-sobre-nos{
    position: absolute;
    top: 90px;
    left: 784px;
}
.footer-contato{
    position: absolute;
    top: 90px;
    left: 890px;
}
.footer-insta{
    position: absolute;
    top: 140px;
    left: 650px;
}
.footer-face{
    position: absolute;
    top: 140px;
    left: 690px;
}
.footer-whats{
    position: absolute;
    top: 140px;
    left: 730px;
}
.footer-map{
    position: absolute;
    top: 140px;
    left: 770px;
}

