@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
:root{
    --branco: #ffffff;
    --claro: #B7B7A4; 
    --medio: #A5A58D;
    --escuro: #696D5B;
    --cinza: #E6E6E6;
}


html{
    scroll-behavior: smooth;
}


/*nav*/
@media (max-width: 992px){
    .custom-navbar{
        background-color: var(--claro);
        padding: 1rem 2rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        width: 100%;
    }
    
    .custom-navbar .nav-link{
        text-decoration: none;
        color: var(--branco);
        font-size: 1.3em;
    }
    
    .custom-navbar .nav-link:hover{
        text-decoration: none;
        color: var(--cinza);
    }
    
    .custom-navbar .navbar-nav{
        list-style: none;
        gap: 2px;
    }
}

@media (min-width: 992px){
    .custom-navbar{
        background-color: var(--claro);
        padding: 1rem 2rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        height: 8vh;
        width: 100%;
    }
    
    .custom-navbar .navbar-nav{
        width: 644px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    
    .custom-navbar .nav-link{
        text-decoration: none;
        color: var(--branco);
        font-size: 1.3em;
    }
    
    .custom-navbar .nav-link:hover{
        text-decoration: none;
        color: var(--cinza);
    }
    
    .custom-navbar .navbar-nav{
        list-style: none;
        gap: 40px;
    }
}
/*fim nav*/


/*section inicial*/
.inicio{
  background-color: var(--escuro);
  height: 70vw;
  width: 100%;
  max-height: 720px;
  position: relative;
}

.img-bandeira img{
    position: absolute;
    width: 7vw;
    left: 28vw;
    top: 20vw;
}

.img-sapato img{
    position: absolute;
    width: 62vw;
    max-width: 720px;
    right: 4vw;
    top: 10vh;
}

.titulo{
  position: absolute;
  top: 5vw;
  left: 8vw;
}

.inicio h1{
    color:var(--claro);
    font-size: 16vw;
    margin-bottom: -5px;
}

.inicio h2{
    color:var(--claro);
    font-size: 6.5vw;
}

.inicio h3{
    color:var(--claro) ;
    font-size: 3.5vw;
    margin-top: 30px;
}
/*fim section inicial*/


/*section sapatos*/
.sapatos{
    height: 55vw;
    max-height: 700px;
    width: 100%;
    background-color: var(--claro);
    position: relative;
}

.sapatos-titulo{
    position: absolute;
    width: 70vw;
    top: 3vw;
    left: 50%;
    transform: translate(-50%);
    
}

.sapatos h1{
    color: var(--cinza);
    font-size: 14vw;
}

.sapatos h2{
    color: var(--cinza);
    font-size: 3.8vw;
    margin-left: 56vw;
    margin-top: -2vw;
    
}

.sapatos a{
    text-decoration: none;
}

.sapatos-mais img{
    width: 3.8vw;
    max-width: 40px;
    position: absolute;
    top: 21vw;
    left: 65vw;
}

.sapatos-sapato-social img{
    position: absolute;
    width: 70vw;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%);
}
/*fim section sapatos*/


/*section elegancia*/
.elegancia{
    height: 55vw;
    max-height: 720px;
    width: 100%;
    background-color: var(--escuro);
    position: relative;
}

.elegancia h1{
    color: var(--claro);
    font-size: 13vw;
    text-align: center;
    padding-top: 3vh;
}

.elegancia h2{
    color: var(--claro);
    font-size: 2.5vw;
    position: absolute;
    bottom: 13vw;
    left: 5vw;
}

.elegancia a{
    text-decoration: none;
}

.elegancia-saiba-mais{
    position: absolute;
    bottom: 17vw;
    right: 12vw;
}

.elegancia-saiba-mais h3{
    color: var(--claro);
    font-size: 3.5vw;
}

.elegancia-saiba-mais img{
    width: 3.5vw;
    max-width: 40px;
    position: absolute;
    bottom: 1vw;
    left: 8vw;
}

.elegancia-maquina img{
    width: 44vw;
    max-width: 590px;
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%);
}
/*fim section elegancia*/


/*section sobre nos*/
.sobre-nos{
    height: 54vw;
    max-height: 710px;
    width: 100%;
    background-color: var(--claro);
    position: relative;
}

.sobre-nos img{
    width: 45vw;
    border: 0.3vh solid rgba(0, 0, 0, 0.722);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.516);
    position: absolute;
    bottom: 8vh;
}

.sobre-nos h1{
    color: var(--escuro);
    font-size: 10vw;
    position: absolute;
    top: 3vw;
    right: 15vw;
}

.sobre-nos p{
    color: var(--escuro);
    font-size: 2.15vw;
    width: 44vw;
    position: absolute;
    top: 16vw;
    right: 5vw;
}
/*fim section sobre nos*/


/*section fotos*/
.fotos{
    height: 54vw;
    max-height: 710px;
    width: 100%;
    background-color: var(--claro);
    position: relative;
}

.foto-logo img{
    width: 30vw;
    max-width: 300px;
    position: absolute;
    top: -2vw;
    left: 10vw;
}

.foto-1 img{
    width: 27vw;
    border: 0.3vh solid var(--cinza);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.516);
    position: absolute;
    bottom: 5vh;
    left: 5vw;
}

.foto-2 img{
    width: 27vw;
    border: 0.3vh solid var(--cinza);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.516);
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%);
}

.foto-3 img{
    width: 27vw;
    border: 0.3vh solid var(--cinza);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.516);
    position: absolute;
    bottom: 5vh;
    right: 5vw;
}
/*fim section fotos*/


/*footer*/
footer{
    background-color:var(--escuro) ;
    height: 29vw;
    max-height: 170px;
    position: relative;
}

.footer-luigi h1{
    font-size: 1.1em;
    color: var(--cinza);
    font-weight: normal;
    position: absolute;
    bottom: 16vh;
    left: 50%;
    transform: translate(-50%);
}

/*footer paginas*/
.footer-paginas{
    position: absolute;
    bottom: 9vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 25px;
}

.footer-paginas a{
    text-decoration: none;
    color: var(--claro);
    font-size: 1em;
    text-align: center;
}

.footer-inicio{
    width: 38px;
}

.footer-sapatos{
    width: 84px;
}

.footer-elegancia{
    width: 70px;
}

.footer-sobre-nos{
    width: 80px;
}

.footer-contato{
    width: 58px;
}

/*footer fotos*/
.footer-fotos{
    max-width: 70vw;
    position: absolute;
    bottom: 6vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 20px;
}

.footer-fotos img{
    width: 2.8vw;
    max-width: 18px;
}

/*footer direitos*/
.footer-direitos {
    position: absolute;
    bottom: 0vh;
    left: 50%;
    transform: translateX(-50%);
    color: var(--cinza);
    font-size: 0.7em;
    text-align: center;
}

/*fim footer*/

